h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
body {
    background: rgba(166, 194, 192, 1.0);
    background: linear-gradient(315deg, rgba(166, 194, 192, 1.0), rgba(204, 80, 94, 1.0));
}