h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
body {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(4,19,150,1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(4,19,150,1) 100%);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(4,19,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#041396",GradientType=1);
}