h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
body {
    background: rgb(255,255,255);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(4,19,150,1) 100%);
}